In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [41]:
url = "A:/Desktop/Faculdade/1S2021/EA98 - Ciência de dados para Saúde/Projeto final/Bancos de dados/Brutos/CSV/LEIV/15/LEIVMG15.csv"
try:
    df = pd.read_csv(url, encoding='utf-8')
except UnicodeDecodeError:
    df = pd.read_csv(url, encoding='ansi')
df.head()

,TP_NOT,ID_AGRAVO,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,ID_REGIONA,DT_SIN_PRI,SEM_PRI,...,DT_DESLC2,DS_MUN_2,CO_UF_2,CO_PAIS_2,DS_TRANS_2,DT_DESLC3,DS_MUN_3,CO_UF_3,CO_PAIS_3,DS_TRANS_3
0,2,B550,20150320,201511,2015,50,500270,1975.0,20150317,201511,...,,NaN,NaN,0,NaN,,NaN,NaN,0,NaN
1,2,B550,20150715,201528,2015,31,317052,1470.0,20150602,201522,...,,NaN,NaN,0,NaN,,NaN,NaN,0,NaN
2,2,B550,20150413,201515,2015,31,313370,1472.0,20150406,201514,...,,NaN,NaN,0,NaN,,NaN,NaN,0,NaN
3,2,B550,20150522,201520,2015,31,312610,1472.0,20141222,201452,...,,NaN,NaN,0,NaN,,NaN,NaN,0,NaN
4,2,B550,20150514,201519,2015,31,312610,1472.0,20150328,201512,...,,NaN,NaN,0,NaN,,NaN,NaN,0,NaN

In [39]:
sig_cols =   [
    # Dados do paciente
    'DT_NOTIFIC', # Data de notificação
    'SG_UF_NOT',  # Sigla da UF da unidade de saúde que fez a notificação
    'DT_SIN_PRI', # Data dos primeiros sintomas
    'NU_IDADE_N', # Idade
    'CS_SEXO',    # Sexo
    'CS_GESTANT', # Gestante
    'CS_RACA',    # Raça
    'CS_ESCOL_N', # Escolaridade
    'SG_UF',      # Sigla da UF d residência do paciente
    'DT_INVEST',  # Data de investigação (data da primeira visita do paciente)
    'ID_OCUPA_N', # Atividade exercida pelo paciente: devemos colocar?

    # Sintomas
    'FEBRE',      # Febre
    'FRAQUEZA',   # Fraqueza
    'EDEMA',      # Edema
    'EMAGRA',     # Emagrecimento
    'TOSSE',      # Tosse
    'PALIDEZ',    # Palidez
    'BACO',       # Baço inchado
    'INFECCIOSO', # Quador infeccioso
    'FEN_HEMORR', # Fenômenos hemorrágicos
    'FIGADO',     # Aumento do fígado
    'ICTERICIA',  # Icterícia
    'OUTROS',     # Outros sintomas
    'OUTROS_ESP', # Descrição de outros sintomas
    'HIV',        # Infecção intercorrente - HIV
    
    # Diagnósticos
    'DIAG_PAR_N', # Resultado do diagnóstico parasitológico
    'IFI',        # Resultado do diagnóstico imunológico
    'OUTRO',      # Resultado de outro diagnóstico imunológico
    
    # Tipo de caso e tratamento
    'ENTRADA',    # Tipo de entrada
    'TRATAMENTO', # Data de início do tratamento
    'DROGA',      # Medicamento preescrito
    'PESO',       # Peso em kg
    'DOSE',       # Dose preescrita
    'FALENCIA',   # Outra droga no caso de falência do tratamento inicial
    
    # Desfecho
    'CLASSI_FIN', # Confirmação da doença (ou descarte)
    'CRITERIO',   # Criterio usado na confirmacão
    
    'TPAUTOCTO',  # O caso é autoctone do mun. de residência?
    'COUFINF',    # UF do local provável de infecção
    
    'DOENCA_TRA', # Relacionada ao trabalho?
    'EVOLUCAO',   # Evolução do caso
    'DT_OBITO',   # Data do óbito
    'DT_ENCERRA'  # Data de encerramento do caso 
]

dic_uf = {
    11: ('RO', 'Rondônia'),
    12: ('AC', 'Acre'),
    13: ('AM', 'Amazonas'),
    14: ('RR', 'Roraima'),
    15: ('PA', 'Pará'),
    16: ('AP', 'Amapá'),
    17: ('TO', 'Tocantins'),
    
    21: ('MA', 'Maranhão'),
    22: ('PI', 'Piauí'),
    23: ('CE', 'Ceará'),
    24: ('RN', 'Rio Grande do Norte'),
    25: ('PB', 'Paraíba'),
    26: ('PE', 'Pernambuco'),
    27: ('AL', 'Alagoas'),
    28: ('SE', 'Sergipe'),
    29: ('BA', 'Bahia'),
    
    31: ('MG', 'Minas Gerais'),
    32: ('ES', 'Espírito Santo'),
    33: ('RJ', 'Rio de Janeiro'),
    35: ('SP', 'São Paulo'),
    
    41: ('PR', 'Paraná'),
    42: ('SC', 'Santa Catarina'),
    43: ('RS', 'Rio Grande do Sul'),

    50: ('MS', 'Mato Grosso do Sul'),
    51: ('MT', 'Mato Grosso'),
    52: ('GO', 'Goiás'),
    53: ('DF', 'Distrito Federal'),
}

df[sig_cols].head()

,DT_NOTIFIC,SG_UF_NOT,DT_SIN_PRI,NU_IDADE_N,CS_SEXO,CS_GESTANT,CS_RACA,CS_ESCOL_N,SG_UF,DT_INVEST,...,DOSE,FALENCIA,CLASSI_FIN,CRITERIO,TPAUTOCTO,COUFINF,DOENCA_TRA,EVOLUCAO,DT_OBITO,DT_ENCERRA
0,20150320,50,20150317,4023,M,6,4.0,4.0,31,20150320,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,,20150515
1,20150715,31,20150602,4023,M,6,4.0,3.0,31,20150728,...,NaN,NaN,1.0,1.0,1.0,31.0,9.0,1.0,,20150915
2,20150413,31,20150406,4068,M,6,9.0,9.0,31,20150413,...,NaN,NaN,1.0,2.0,1.0,31.0,2.0,5.0,,20150413
3,20150522,31,20141222,4038,F,5,4.0,1.0,31,20150522,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0,,20150622
4,20150514,31,20150328,4042,F,5,1.0,6.0,31,20150514,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0,,20150623

In [34]:
# set(df["SG_UF_NOT"])
set(df["SG_UF"])
#[x for x in set(df["COUFINF"]) if x == x]

{31}

In [44]:
frames = []
for year in range(15,20):
    for key in dic_uf.keys():
        uf = dic_uf[key][0]
        url = f"A:/Desktop/Faculdade/1S2021/EA98 - Ciência de dados para Saúde/Projeto final/Bancos de dados/Brutos/CSV/LEIV/{year}/LEIV{uf}{year}.csv"
        try:
            df = pd.read_csv(url, encoding='utf-8')
        except UnicodeDecodeError:
            df = pd.read_csv(url, encoding='ansi')
        frames.append(df[sig_cols])
    
df_uni = pd.concat(frames, ignore_index=True)

df_uni

,DT_NOTIFIC,SG_UF_NOT,DT_SIN_PRI,NU_IDADE_N,CS_SEXO,CS_GESTANT,CS_RACA,CS_ESCOL_N,SG_UF,DT_INVEST,...,DOSE,FALENCIA,CLASSI_FIN,CRITERIO,TPAUTOCTO,COUFINF,DOENCA_TRA,EVOLUCAO,DT_OBITO,DT_ENCERRA
0,20150312,17,20141205,4042,M,6,4.0,3.0,11,,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,
1,20150616,14,20150616,4015,M,6,5.0,9.0,13,20150616,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0,,20150623
2,20150708,13,20150601,4044,M,6,2.0,3.0,13,20150714,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0,,20150714
3,20150526,31,20150501,4033,M,6,4.0,8.0,13,20150528,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0,,20150530
4,20150122,14,20150115,4004,M,6,4.0,10.0,14,20150122,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0,,20150212
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50788,20191211,53,20191201,4059,M,6,4.0,NaN,53,20191211,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0,,20191223
50789,20191220,53,20191110,4054,F,5,9.0,9.0,53,20191220,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0,,20191226
50790,20191226,53,20191001,4058,M,6,2.0,0.0,53,20191226,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,,20200108
50791,20191231,53,20191218,4080,M,6,9.0,9.0,53,20191231,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0,,20200114
50792,20191209,53,20191126,4010,M,6,4.0,1.0,53,20191209,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0,,20200115

In [45]:
'''
output_path = 'A:/Desktop/Faculdade/1S2021/EA98 - Ciência de dados para Saúde/Projeto final/Bancos de dados/Brutos/CSV/LEIV/LEIV.zip'

compression_opts = dict(method='zip',
                        archive_name='LEIV_total.csv')  

df_uni.to_csv(output_path, 
              index=False,
              compression=compression_opts) 
'''